/* static/css/styles.css */
#study-container {
    margin-top: 20px;
    text-align: center;
}

#flashcard {
    margin-bottom: 20px;
}

#question, #answer {
    font-size: 1.5em;
    padding: 20px;
    border: 1px solid #333;
    background-color: #f9f9f9;
}
